*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
   
}
header{
    background:linear-gradient(to right, #507ca8, #1fd4a4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}
main{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: #fff;
    padding: 20px;
   
}
form input[type="text"]{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}
footer{
    background:linear-gradient(to right, #507ca8, #1fd4a4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}